.nav-countainer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  height: 3.5rem;
  display: grid;
  grid-template-rows: 1fr;
  place-items: center;
}
.nav-bar {
  width: 50%;
  height: 100%;
  background-color: #171717;
  box-shadow: 0 0 0.2rem #da0037;
  border-radius: 1rem;
}
.nav-bar ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  list-style: none;
}
.nav-bar .nav-item a {
  text-decoration: none;
  color: #ededed;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar .nav-item a:hover {
  color: #da0037;
}

.nav-bar .nav-item a .user-profile {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transition: box-shadow 0.3s;
}
.nav-bar .nav-item a .user-profile:hover {
  box-shadow: 0 0 0.2rem #da0037;
}

.nav-bar .nav-item span {
  display: none;
}

/* Light */
.main.light .nav-bar {
  background-color: #effffd;
  box-shadow: 0 0 0.2rem #42c2ff;
}

.main.light .nav-bar .nav-item a {
  color: #85f4ff;
}
.main.light .nav-bar .nav-item a:hover {
  color: #42c2ff;
}
.main.light .nav-bar .nav-item a .user-profile:hover {
  box-shadow: 0 0 0.2rem #42c2ff;
}
/* End Light */

@media screen and (min-width: 1440px) {
  .nav-bar {
    width: 864px;
  }
}
@media screen and (max-width: 550px) {
  .nav-countainer {
    bottom: 0;
  }
  .nav-bar {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
  }
}

@media screen and (max-width: 320px) {
  .nav-bar ul {
    font-size: 1.5rem;
  }
}
