@font-face {
  font-family: "Alexandria Thin";
  src: url("../assets/fonts/Alexandria-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Vazir";
  src: url("../assets/fonts/Vazir.woff") format("woff");
}
@font-face {
  font-family: "Syncopate";
  src: url("../assets/fonts/Syncopate-Regular.ttf") format("woff");
}
.content-countainer {
  background-color: #171717;
  color: #ededed;
  margin-top: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 0.2rem #da0037;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-evenly; */
  font-size: 1.2rem;
}
hr {
  border: 1px solid #da0037;
  width: 100%;
}

/*  about-description  */
.about-description .about-description-title {
  font-size: 4rem;
  color: #da0037;
  font-family: "Alexandria Thin", "Syncopate", Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
.about-description .about-description-text {
  font-family: "Alexandria Thin", "Syncopate", Arial, Helvetica, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
}
/* about-description end */
