@import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap");

.content-countainer {
  background-color: #171717;
  color: #ededed;
  margin-top: 2rem;
  /* height: 100%; */
  width: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem 1.5rem;
  box-shadow: 0 0 0.2rem #da0037;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* justify-content: space-evenly; */
}
hr {
  border: 1px solid #da0037;
  width: 100%;
}

/*  about-description  */
.about-description .about-description-title {
  font-size: 4rem;
  color: #da0037;
  font-family: "Alexandria", sans-serif;
  font-weight: 200;
}
.about-description .about-description-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 2rem;
}
/* about-description end */

/* Light */
.main.light .content-countainer {
  background-color: #effffd;
  color: #42c2ff;
  box-shadow: 0 0 0.2rem #42c2ff;
}
.main.light hr {
  border: 1px solid #42c2ff;
}

.main.light .about-description .about-description-title {
  color: #42c2ff;
}
/* End Light */

@media screen and (max-width: 1660px) {
  .about-description .about-description-title {
    font-size: 5.5rem;
  }
  .about-description .about-description-text {
    font-size: 2rem;
    line-height: 3rem;
  }
}
@media screen and (max-width: 1366px) {
  .about-description .about-description-title {
    font-size: 5rem;
  }
  .about-description .about-description-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1240px) {
  .about-description .about-description-title {
    font-size: 4rem;
  }
}
@media screen and (max-width: 930px) {
  .about-description .about-description-title {
    font-size: 3rem;
  }
  .about-description .about-description-text {
    font-size: 1rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 764px) {
  .about-description .about-description-title {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 320px) {
  .about-description .about-description-title {
    font-size: 2rem;
  }
  .about-description .about-description-text {
    font-size: 0.8rem;

  }
}
