.content-countainer {
  background-color: #171717;
  margin-top: 2rem;
  height: 100%;
  border-radius: 2rem 2rem 0 0;
  padding: 1rem;
  box-shadow: 0 0 0.2rem #da0037;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
