@import url("./bottom_navbar.css");
@import url("./header_countainer.css");
@import url("./content_style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 1660px;
  height: 100%;
  background-color: #171717;
}
::selection {
  background-color: #da0037;
  color: #171717;
}
.main {
  width: 100%;
  max-width: 1660px;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
