@import url("./bottom_navbar.css");
@import url("./header_countainer.css");
@import url("./content_style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 1660px;
  height: 100%;
  background-color: #171717;
  scroll-behavior: smooth;
}
::selection {
  background-color: #da0037;
  color: #171717;
}
/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #da0037;
}
.main {
  width: 100%;
  max-width: 1660px;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
