@import url("./bottom_navbar.css");
@import url("./header_countainer.css");
@import url("./content_style.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-width: 1660px;
  height: 100%;
  scroll-behavior: smooth;
}
.darkBody {
  background-color: #171717;
}
.lightBody {
  background-color: #effffd;
}
::selection {
  background-color: #da0037;
  color: #171717;
}
/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
.darkBody::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
.darkBody::-webkit-scrollbar-thumb {
  background: #444444;
  border-radius: 1rem;
}

/* Handle on hover */
.darkBody::-webkit-scrollbar-thumb:hover {
  background: #da0037;
}

/* Light */
.lightBody::-webkit-scrollbar-track {
  background: #effffd;
}
.lightBody::-webkit-scrollbar-thumb {
  background: #b8fff9;
  border-radius: 1rem;
}
.lightBody::-webkit-scrollbar-thumb:hover {
  background: #42c2ff;
}
/* End Light */

.main {
  width: 100%;
  max-width: 1660px;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(68, 68, 68, 20%), rgba(23, 23, 23, 100%)),
    url("../assets/IMG_20221024_160602_501.jpg") center center/cover fixed;
}
/* main light */
.main.light {
  background: linear-gradient(rgba(68, 68, 68, 20%), rgba(239, 255, 253, 100%)),
    url("../assets/yusef.jpg") center center/cover fixed;
}
/* end main light */
